node_modules
.output
.nitro
.tanstack
.vinxi
.wrangler
__unconfig*

.env
.env.local
.env.*.local

.git
.gitignore

dist
dist-ssr
coverage

*.log
.DS_Store
Thumbs.db
.pnpm-store

PRD.md
CLAUDE.md
README.md
todos.json
